$spacer: 50px;

@mixin spacer {
  margin-bottom: $spacer;
}

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$gutter: 8px;
$container-width: $medium;

@mixin small-font {
  font-size: .8em;
  line-height: 1.25;
}