@import 'colors';
@import 'variables';

.about {
  padding: $spacer 0;
  background-color: $corp;
  background: linear-gradient(315deg, rgba(5, 33, 61, 1) 0%, rgba(13, 67, 105, 1) 30%);

  h1 {
    color: $white;
  }

  p {
    color: $corp-light;
  }

  padding-bottom: $spacer;

  img {
    grid-column: span 6;
    padding-bottom: $spacer;

    &:first-of-type {
      grid-column: 2 / span 6;
    }
  }
}