@import 'colors';
@import 'variables';

.contact {
  padding: $spacer 0;
}

.contactForm {
  margin-top: 40px;

  label,
  input,
  textarea {
    display: inline-block;
    vertical-align: middle;
  }

  label {
    width: 10%;
    @include small-font;
  }

  input,
  textarea {
    width: 90%;
    padding: 0;
    border: none;
    @include small-font;
  }

  textarea {
    min-height: calc(1.5em + .75rem + 2px);
  }

  .formRow {
    border-top: 1px solid $corp;

    &:last-of-type {
      border-bottom: 1px solid $corp;
    }
  }

  .formMessege {
    display: inline-block;
    width: calc(100% - 75px);
  }

  .submitBtn {
    width: 75px;
    background-color: transparent;
    color: $corp;
    border: none;

    @include small-font;
    font-weight: 700;
    text-transform: uppercase;
  }

}

.contacts {
  background-color: $corp-muted;
  color: $corp;
  text-transform: uppercase;

  .contact {
    grid-column: span 4;

    &:first-child {
      grid-column: 2 / span 4;
    }
  }

  .name,
  .title,
  .website {
    font-weight: 700;
  }

  .name,
  .website {
    color: $white;
  }



  p {
    @include small-font;
    margin: 0;

  }

  hr {
    width: 50px;
    margin: 4px 0;
    border: none;
    border-top: 1px solid $corp;
  }
}

.footer {
  padding: 20px;
  background-color: $black;
  color: $corp;
  text-align: center;
  text-transform: uppercase;

  p {
    @include small-font;
    margin: 0;
  }
}