@import 'colors';
@import 'variables';

.hero {
  padding-bottom: $spacer;
  color: $black;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  p {
    padding-top: $spacer;
    margin-bottom: 75vh;
    font-size: 18px;
    line-height: 32px;
  }

  u {
    text-decoration-color: $corp-light;
  }
}






@media(min-width: 600px) {}