@import 'colors';

.navigation {
  height: 20vh;
  max-height: 100px;
  padding: 10px 0;
  background-image: linear-gradient(rgba($corp-light,0.4), rgba($white, 0));
  font-size: 1.25em;
}

.navigation ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: $corp;
  font-size: 12px;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
}

.navigationItem a {
  &:active,
  &:hover {
    text-decoration: underline;
  }
}

.logo {
  width: 276px;
  height: auto;
}

.iconInsta {
  width: 22px;
  height: auto;
}
