@import 'colors';

.navigation {
  background-image: linear-gradient(rgba($corp-light, 0.4), rgba($white, 0));
  font-size: 1.25em;

  &> nav {
    display: flex;
    max-height: 100px;
    grid-column: 1 / -2;
    padding: 10px 0;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  
    li {
      display: inline-flex;
      align-items: center;
      margin: 0 1em;
  
      &:before {
        content: '';
        margin-left: 0;
        margin-right: 0;
      }
      
      a {
        color: $corp;
        font-size: 12px;
        text-decoration: none;
        font-weight: normal;
        text-transform: uppercase;
  
        &:active,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.logo {
  display: inline-block;
  width: 276px;
  height: auto;
  margin: 0 10px;
}

.iconInsta {
  width: 22px;
  height: auto;
}