@import 'colors';

.navigation {
  background-image: linear-gradient(rgba($corp-light, 0.4), rgba($white, 0));
  font-size: 1.25em;

  &> nav {
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    grid-column: 1 / -2;
    padding: 10px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  
    li {
      display: inline-flex;
      align-items: center;

      &:first-child {
        &:before {
          display: none;
        }
      }
  
      &:before {
        content: '';
        height: 12px;
        margin: 0 1em;
        border-left: 1px solid $corp;
      }
      
      a {
        color: $corp;
        font-size: 12px;
        text-decoration: none;
        font-weight: normal;
        text-transform: uppercase;
  
        &:active,
        &:hover {
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

.logo {
  display: inline-block;
  width: 276px;
  height: auto;
  margin: 0 10px;
}

.iconInsta {
  img {
    width: 22px;
    height: auto;
  }
}